@import "../../../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.taskItem{
    padding: 5px; 
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 3px solid $white;
    background-color: transparent;
    color:$white;
    width: 700px;
    outline: none;
    font-size: 25px;    
    margin-top: 20px;
    margin-left: 100px;
}
label {
    margin-left:850px;
    
    .checkboxDefault{
        visibility: hidden;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        overflow: hidden;   
    }

    .checkbox{
        height: 30px;
        width: 30px;
        border: 3px solid $yellow;
        display: inline-block;
    }

    :checked + span {
        background: $yellow;
      }
}
