@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.signUpPage {
    @include background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: $white;
    background-color: $white;

    .inputLine {
        display: flex;
        flex-direction: row;
        background-color: transparent;
       
        ::placeholder{
        color: $white;
        font-size: 30px;
        opacity:0.9;}
    }

    h1 {
        font-size: 80px;
        margin-top: 25px;
    }
}

.signUpForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $white;  
}

.cancelBtn {
    background-color: rgb(160, 160, 160);
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
       box-shadow:0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);

        &:hover {
            background-color: rgb(91, 89, 89);
    }
  }

  .inputImage
  {
      margin-top:30px;
      height: 200px;
      width:400px;
      border-radius: 10px;
      border: 4px solid $yellow;
      background-color: rgba(0, 0, 0, 0.6);
  }