@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.signUpPage {
    @include background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: $white;
    background-color: $white;

    h1 {
        font-size: 60px;
        margin-top: 25px;
        color:$orange;
    }

    .inputLine {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        margin-left: 100px;
        margin-top:90px;
       
        ::placeholder{
        color: $white;
        font-size: 30px;
        opacity:0.9;}
    }   
}

.signUpForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $white;  
}

.inputImage {
    margin-top:50px;
    margin-right: 70px;
    height: 200px;
    width:350px;
    border-radius: 10px;
    border: 4px solid $orange;
    background-color: transparent;
}

.buttonWrap {
    margin-top:30px;
    margin-left: 190px;

}

.cancelLink {
     color: $orange;
     text-decoration: none;
     font-size: 30px;
     margin-left: 490px;

     &:hover {
         color: $hover;
     }
 }

  