@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.signUpPage {
    @include background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: $white;
    background-color: $white;

    h1 {
        font-size: 60px;
        margin-top: 25px;
    }

    .inputLine {
        display: flex;
        flex-direction: row;
        background-color: transparent;
       
        ::placeholder{
        color: $white;
        font-size: 30px;
        opacity:0.9;}
    }   
}

.signUpForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $white;  
}

.inputImage {
    margin-left: 80%;
    height: 200px;
    width:400px;
    border-radius: 10px;
    border: 4px solid $yellow;
    background-color: rgba(0, 0, 0, 0.6);
}

.buttonWrap {
    margin-top:18%;
    margin-right: 15%;
    padding-right:100px;
}

.cancelLink {
     color: $yellow;
     text-decoration: none;
     font-size: 30px;
     margin-left: 20px;

     &:hover {
         color: $hover;
     }
 }

  