@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.photoPage {
    @include background;
    min-height:100vh;
    height: max-content;
    width: 100vw;
    color: $white;
    background-color: $white;
    display: flex;
    padding-left: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
    .addPhoto {
        background-color: $yellow;
        color:black;
        outline: none;
        border-radius: 10px;
        width: 80px;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 80px; 
      
        cursor: pointer;
        box-shadow:0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27); 
        
            &:hover {
                background-color: $hover;
            }
    }

