@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.inputBox {
    padding: 10px 5px;
    padding-top: 80px;
    margin-left: 100px;
    margin-Right: 100px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 3px solid $white;
    background-color: transparent;
    color:$white;
    width: 300px;
    outline: none;
    font-weight: bold;
    
}

::placeholder{
    color: $white;
    font-size: 30px;
    opacity:0.9;
}