@import "../../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.titleBar{
    padding: 10px;
    font-weight: bold;
    background-color: $orange;
    height:40px;
    .title {
        color:$white;
    }
}

.thumbNail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon{
    margin-top: 30px;
    margin-right:25px;
    margin-left: 15px;
}
.temp{
    margin-top: 50px;
    margin-left: 10px;
    color: $white;
    font-size: 40px;;
}

.location {
    color: $white;
    font-size: 40px;
    margin-left:125px;
}