@import "../../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

 .titleBar{
    padding: 10px;
    font-weight: bold;
    background-color: $yellow;
    height:40px;
    .title {
        color:black;
    }
}

.thumbNail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.head{
    font-size: 20px;
    margin-top: 20px;
}
.text{
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}