@import "../../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

 .titleBar{
    padding: 10px;
    font-weight: bold;
    background-color: $orange;
    height:40px;
    .title {
        color:$white;
    }
}

.thumbNail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.news{
    height:60px;
    width:150px;
    margin-top: 5px;
    margin-left: 70px;
}
.head{
    font-size: 14px;
    margin-top: 20px;
}
.text{
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color:#778899;	
}