@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.dashBoard{
    @include background;
    min-height:100vh;
    height: max-content;
    width: 100vw;
    color: $white;
    background-color: $white;
    display: flex;
    padding-left: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    }

.thumb {
    margin-left: 60px;
    border: 2px solid $yellow;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.userName{
    height:50px;
    margin-top: 70px;
    margin-right: 900px;
    font-size: $header;
}