@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.fileInputBox {
    margin-top: 80px;
    border: 2px solid $yellow;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-image: url('../../assets/Plus_button.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}