@import "../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  height: 100%;
}

.logInPage {
  @include background;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;

  h1 {
    font-size: 3em;
    color: $orange;
    margin-top: 1em;
  }

  .loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 35em;
    width: 21em;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .logInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .googleBtnWrap {
    margin-bottom: 1em;
    &:hover {
      color: $hover;
    }
  }

  .inputLine {
    background-color: transparent;
    ::placeholder {
      color: $white;
      font-size: 30px;
      opacity: 0.9;
    }
  }

  .newTo {
    font-size: 30px;
    text-align: center;
  }
  .signUp {
    color: $orange;
    text-decoration: none;
    &:hover {
      color: $hover;
    }
  }
}
