@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.logInPage {
    @include background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: $white;
    background-color: $white;

    .inputLine {
        display: flex;
        flex-direction: row;
        background-color: transparent;
       
        ::placeholder{
        color: $white;
        font-size: 30px;
        opacity:0.9;}
    }

    h1 {
        font-size: 100px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    p {
        font-size: 30px;
        margin-top: 250px;
    }

    .signUp{
        color: $yellow;
        text-decoration: none;

        &:hover {
            color: $hover;
        }
    }
}

.logInForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $white;  
}

.buttonWrap{
    margin-top: 100px;
    margin-left: 700px;
    padding-right:700px;
}