@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.logInPage {
    @include background;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: $white;
    background-color: $white;

    h1 {
        font-size: 100px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    p {
        font-size: 30px;
        margin-top: 150px;
    }

    .signUp{
        color: $yellow;
        text-decoration: none;
    }
}


.logInForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: $white;  
}

.buttonWrap{
    margin-top: 70px;
}