@import "../../variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.newsPage {
    @include background;
    min-height:100vh;
    height: max-content;
    width: 100vw;
    color: $white;
    background-color: $white;
    display: flex;
    padding-left: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.header{
    height:50px;
    margin-top: 70px;
    font-size: $header;
}

.story{
    margin-top: 190px;
    margin-right:50px;
    font-size: 30px;
    color: $yellow;
   
    &:hover {
        color: $hover;
    }
}

.title{
    font-size: 40px;
}

.text{
  font-size:20px ;
}