@import "../../../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

.titleBar {
  padding: 10px;
  font-weight: bold;
  background-color: $orange;
  height: 40px;
  .title {
    color: black;
  }
}

// .chart {
//   margin-left: 80px;
//   margin-top: 30px;
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.27);
//   transform: rotate(-90deg);
//   border-radius: 50%;
//   background: #c6bfaf;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 160px;
//   max-height: 150px;

//   .percentJumper {
//     fill: #c6bfaf;
//     stroke: green;
//     stroke-width: 96;
//   }

//   .percentHoodie {
//     fill: transparent;
//     stroke: blue;
//     stroke-width: 96;
//   }
//   .percentJacket {
//     fill: transparent;
//     stroke: $yellow;
//     stroke-width: 96;
//   }

//   .percentSweater {
//     fill: transparent;
//     stroke: orange;
//     stroke-width: 96;
//   }

//   .percentBlazer {
//     fill: transparent;
//     stroke: pink;
//     stroke-width: 96;
//   }

//   .percentRaincoat {
//     fill: transparent;
//     stroke: purple;
//     stroke-width: 96;
//   }
// }
